<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>List of Wishes</title>
</head>

<header>
    <div class="HeaderContainer">

        <div class="TopHeaderSplashIMG">
            <div class="splashText">Wishlist (nr)</div>
        </div>

    </div>
</header>

<body>
<h1>Welcome to Create wishlist:</h1>

<br>

<div class="wishlistButtons_Container">

    <div class="wishlistButtons_ContainerStyle" style="width:100%">


        <a th:href="@{/createWish}" href="createWish.html" class="Button_Effect">Add a New Wish</a>
        <a th:href="@{/createWish}" href="../contributer/wishListSharingPage.html" class="Button_Effect">Share your list</a>
        <a th:href="@{/showListPage}" href="../wishlist/showWishListsPage.html" class="Button_Effect">Back to Your Wish Lists</a>

    </div>

</div>

    <br>

<table class="wishlistTable" style="width:100%">

<div th:each="wish : ${wishAll}">

    <tr>
        <th><span></span></th>
        <!--  <th><span th:text="${w.getWishNumber()}"></span></th> -->
        <td><span th:text="${wish.getWishDescription()}"></span></td>

        <th><span><a th:href="@{'/updateWishData/' + ${wish.getWishNumber()}}" class="Button_Effect">Change</a></span></th>
        <th><span><a th:href="@{'/deleteWishData/' + ${wish.getWishNumber()}}" class="Button_Effect_Delete">Remove</a></span></th>

    </tr>


</div>

</table>

</body>

</html>