<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
    <title>WishList Sharing</title>
</head>

<body>
<h1>Name's Wishes</h1>

<table class="wishlistTable" style="width:100%">

    <div th:each="wishRep : ${wishAll}">

        <tr>
            <th><span></span></th>
            <td><span th:text="${wishRep.wishAll()}"></span></td>

            <th><span><a th:href="@{'/addContributer/' + ${wishRep.getWishNumber()}}" class="Button_Effect">Add Name</a></span></th>
        </tr>

    </div>

</table>


</body>
</html>