
.HeaderContainer {

    display: flex;
    flex-direction: column;


}

.TopHeaderSplashIMG {

    width: 100%;
    height: 100px;
    border: solid steelblue 5px;

    background-color: steelblue;

}

.splashText {

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;

    font-style: italic;
    font-weight: bold;
    font-family: "Century Gothic";
    color: white;

    padding-top: 40px;


}

.wishlistTable {
    border-top: dotted lightgrey 2px;
    border-bottom: dotted lightgrey 2px;
    padding: 20px;
    height: 10px;
}

.wishlistButtons_Container {

    display: flex;
    flex-direction: row;

}

.wishlistButtons_ContainerStyle {

    display: flex;
    justify-content: space-between;

    padding: 30px;
    border-top: dotted lightgrey 2px;
    border-bottom: dotted lightgrey 2px;

}



.categoriListTable {
    border-top: dotted lightgrey 2px;
    border-bottom: dotted lightgrey 2px;
    padding: 20px;
}

.categoriListButtons_Container {

    display: flex;
    flex-direction: row;

}

.categoriListButtons_ContainerStyle {

    display: flex;
    justify-content: space-between;

    padding: 30px;
    border-top: dotted lightgrey 2px;
    border-bottom: dotted lightgrey 2px;

}

.Button_Effect {

    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 10%;

}

.Button_Effect:hover {

  opacity: 70%;
    color: black;

}


.Button_Effect_Delete {

    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10%;


}

.Button_Effect_Delete:hover {

    opacity: 70%;
    color: black;

}














