
.HeaderContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;


}

.TopHeaderSplashIMG {

    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 100px;
    border: gold solid 2px;

    border-radius: 60%;
    background-color: dodgerblue;

}

.splashText {


    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;

    font-style: italic;
    font-weight: bold;
    font-family: "lucida handwriting";
    font-size: 30px;
    color: white;

    text-shadow: 2px 2px 4px #000000;


}

.wishlistTable {
    border-top: dotted lightgrey 2px;
    border-bottom: dotted lightgrey 2px;
    padding: 20px;
    height: 10px;
}

.wishlistButtons_Container {

    display: flex;
    flex-direction: row;

}

.wishlistButtons_ContainerStyle {

    display: flex;
    justify-content: space-around;

    padding: 30px;
    border-top: dotted lightgrey 2px;
    border-bottom: dotted lightgrey 2px;

}


.wishListsTable {
    border-top: dotted gold 2px;
    border-bottom: dotted gold 2px;
    padding: 20px;
}

.wishListsButtons_Container {

    display: flex;
    flex-direction: row;

}

.wishListsButtons_ContainerStyle {

    display: flex;
    justify-content: space-between;

    padding: 30px;
    border-top: dotted lightgrey 2px;
    border-bottom: dotted lightgrey 2px;

}

.fillerSpace {

    width: 120px;


}

.fillerSpaceWishes {

    width: 150px;

}

.Button_Effect {
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 10%;
    font-family: "gabriola";
    font-size: 20px;
}

.Button_Effect:hover {
  opacity: 70%;
    color: black
}

.Button_Effect_wish {
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 10%;
    font-family: "gabriola";
    font-size: 20px;
    width: 150px;
}

.Button_Effect_wish:hover {
    opacity: 70%;
    color: black
}

.Button_Effect_save {
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    padding: 2px;
    border-radius: 10%;
    font-family: "gabriola";
    font-size: 25px;



}

.Button_Effect_save:hover {
    opacity: 70%;
    color: black


}


.Button_Effect_Delete {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10%;
    font-family: "gabriola";
    font-size: 20px;
}

.Button_Effect_Delete:hover {
    opacity: 70%;
    color: black;
}

.Button_Effect_list {
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 10%;
    font-family: "gabriola";
    font-size: 30px;
}

.Button_Effect_list:hover {
    opacity: 70%;
    color: black;
}


/* The new style code lines: */

h1 {
    font-family: "Brush Script MT";
}

h2 {
    font-family: "Ink Free";
}

label {
    font-family: "gabriola";
    font-size: 20px;
}

.icon {
    padding: 5px;
    background: dodgerblue;
    color: white;
    min-width: 20px;
    text-align: center;
    border-radius:10%;
}

.icon2 {

    padding: 5px;
    background: red;
    color: white;
    min-width: 20px;
    text-align: center;
    border-radius:10%;

}

.showIndex_Box {
    display: flex;
    flex-direction: column;
}


.showIndexBorder {
    border: dotted gold 2px;
    width: 200px;
    height: 270px;
}

.showIndex_ButtonBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-field {
    padding: 5px;
    outline: none;
    font-family: "Ink Free";
    font-size: 20px;
    cursor: pointer;

    position: relative;
    left: 10px;
}

.registerBtn {

    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 10%;
    font-family: "gabriola";
    font-size: 20px;
    
}

.registerBtn:hover {
    opacity: 70%;
    color: black;
    cursor: pointer;
}

.registerPageBorder {

    width:  260px;
    height: 370px;
    border: dotted gold 2px;

}

.registerPageBox {

    display: flex;
    flex-direction: column;

}

.registerPageTextBox {
    display: flex;
    flex-direction: row;

   justify-content: center;

}

.registerPageButtonBox {
    display: flex;
    flex-direction: row;



}

.smokeIMG {

    width: 100%;
    height: 100%;

}

body {

    background-image: url('/img/genie.png');
    background-repeat: no-repeat;
    background-size: 900px 900px;

   /* background-position: right top; */
    background-position: 650px 150px;

}

.createWishlistBorder {

    border: dotted gold 2px;
    width: 300px;
    height: 320px;

}

.createWishBorder {

    border: dotted gold 2px;
    width: 280px;
    height: 350px;

}

.updateWishlistBorder {

    border: dotted gold 2px;
    width: 300px;
    height: 340px;

}

.updateWishDataBorder {

    border: dotted gold 2px;
    width: 280px;
    height: 340px;

}

.boxPosition {
    position: relative;
    left: 100px;
    top: 100px;


}

.wishDataStyle {

    font-size: 30px;
    font-family: "Ink Free";

}













