
.HeaderContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;


}

.TopHeaderSplashIMG {

    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 100px;
    border: gold solid 2px;

    border-radius: 60%;
    background-color: dodgerblue;

}



.splashText {

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;

    font-style: italic;
    font-weight: bold;
    font-family: "lucida handwriting";
    font-size: 30px;
    color: white;

    text-shadow: 2px 2px 4px #000000;



}

.titleText_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



h1 {
    font-family: "Brush Script MT";
}


.wishlistTable {
    border-top: dotted gold 2px;
    border-bottom: dotted gold 2px;
    padding: 20px;
    height: 10px;
}

.wishlistButtons_Container {

    display: flex;
    flex-direction: row;

}

.wishlistButtons_ContainerStyle {

    display: flex;
    justify-content: space-between;

    padding: 30px;
    border-top: dotted lightgrey 2px;
    border-bottom: dotted lightgrey 2px;

}



.categoriListTable {
    border-top: dotted gold 2px;
    border-bottom: dotted gold 2px;
    padding: 20px;
}

.categoriListButtons_Container {

    display: flex;
    flex-direction: row;

}

.categoriListButtons_ContainerStyle {

    display: flex;
    justify-content: space-between;

    padding: 30px;
    border-top: dotted lightgrey 2px;
    border-bottom: dotted lightgrey 2px;

}

.Button_Effect {

    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 10%;
    border: black solid 2px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;



}

.Button_Effect:hover {

  opacity: 70%;
    color: gold;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;


}


.Button_Effect_Delete {

    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10%;
    border: black solid 2px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;

}

.Button_Effect_Delete:hover {

    opacity: 70%;
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;

}



.smoke_boxMiddle {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;



}


.ring_boxCategori {

    border: dotted gold 2px;

    padding: 10px;
    width: 320px;


}

.ring_boxWish{

    border: dotted gold 2px;

    padding: 10px;
    width: 230px;


}

























