<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css">
  <title>Add a wish</title>
</head>


<body>
<h1>Add a wish</h1>

<br>
<a th:href="@{/showWishesPage2}" href="showWishesPage2.html" class="Button_Effect">Back to wishes</a>
<br> <br>

<form action="/createWish2" method="post">

  <label for="name-field">Your wish:</label>
  <input id="name-field" name="wishDescription2" placeholder="Enter your wish...">

  <button type="submit" class="Button_Effect">Add your wish</button>

</form>

</body>

<footer>


  <div class="smoke_boxMiddle">
    <!--   <img class="" th:src="@{img/smoke.webp}" src="../static/img/smoke.webp" alt="Genie smoke!">
   <img th:src="@{img/smoke.webp}" src="../static/img/smoke-effect-png.webp" alt="Genie smoke!">  -->

    <img class="" th:src="@{img/smoke-effect-png.webp}" src="../static/img/smoke-effect-png.webp" alt="Genie smoke!">

  </div>


</footer>

</html>