<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css">
    <title>Create wishlist:</title>
</head>

<header>
    <div class="HeaderContainer">

        <div class="TopHeaderSplashIMG">
            <div class="splashText">Wishlist (nr)</div>
        </div>

    </div>
</header>

<body>

<!--
<h1>Welcome to Create wishlist:</h1>
-->

<br>

<div class="wishlistButtons_Container">

    <div class="wishlistButtons_ContainerStyle" style="width:100%">


        <a th:href="@{/createWish}" href="createWish.html" class="Button_Effect">Add a wish</a>

        <!--
        <a th:href="@{'/updateWish/'}" href="createWish.html">Change wish</a>
        <a th:href="@{'/deleteWish/'}" href="createWish.html">Remove wish</a>
        -->

        <a th:href="@{/createWish}" href="createWish.html" class="Button_Effect">Share the list</a>

        <a th:href="@{/showListPage}" href="showListPage.html" class="Button_Effect">Back to categories</a>

    </div>

</div>

    <br>

<table class="wishlistTable" style="width:100%">

<div th:each="w : ${wishAll}">

    <tr>
        <th><span></span></th>
        <!--  <th><span th:text="${w.getWishNumber()}"></span></th> -->
        <td><span th:text="${w.getWishDescription()}"></span></td>

        <th><span><a th:href="@{'/updateWishData/' + ${w.getWishNumber()}}" class="Button_Effect">Change</a></span></th>
        <th><span><a th:href="@{'/deleteWishData/' + ${w.getWishNumber()}}" class="Button_Effect_Delete">Remove</a></span></th>
    </tr>

</div>

</table>

</body>

<footer>


    <div class="smoke_boxMiddle">
        <!--   <img class="" th:src="@{img/smoke.webp}" src="../static/img/smoke.webp" alt="Genie smoke!">
       <img th:src="@{img/smoke.webp}" src="../static/img/smoke-effect-png.webp" alt="Genie smoke!">  -->

        <img class="" th:src="@{img/smoke-effect-png.webp}" src="../static/img/smoke-effect-png.webp" alt="Genie smoke!">

    </div>


</footer>

</html>