<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css">
    <title>Categori of Lists:</title>
</head>

<header>
    <div class="HeaderContainer">


        <div class="TopHeaderSplashIMG">
            <div class="splashText">Categori of Lists:</div>
        </div>


    </div>

</header>

<body>



<!--
<div class="titleText_box">
<h1>Welcome to Categori of Lists</h1>
</div> -->

<br>

<div class="categoriListButtons_Container">

    <div class="categoriListButtons_ContainerStyle" style="width:100%">


        <a th:href="@{/createCategori}" href="createCategori.html" class="Button_Effect">Create a List</a>

        <!--
        <a th:href="@{'/updateWish/'}" href="createWish.html">Change wish</a>
        <a th:href="@{'/deleteWish/'}" href="createWish.html">Remove wish</a>
        -->

        <a th:href="@{/createWish}" href="createWish.html" class="Button_Effect">Share the list</a>

        <a th:href="@{/}" href="showIndex.html" class="Button_Effect">Back to Login Page</a>

    </div>

</div>

<br>

<table lass="categoriListTable" style="width:100%">

    <th><span></span></th>
    <th><span></span></th>
    <td><a th:href="@{/showWishesPage}" href="showWishesPage.html"><span class="Button_Effect">List 1</span></a></td>

    <th><span><a class="Button_Effect">Change</a></span></th>
    <th><span><a class="Button_Effect_Delete">Remove</a></span></th>


</table>

<br>

<table class="categoriListTable" style="width:100%">


        <div th:each="c : ${listAll}">

            <tr>
                <th><span></span></th>
                <!-- <th><span th:text="${c.getListNumber()}"></span></th> -->
                <td><a th:href="@{/showWishesPage2}" href="showWishesPage2.html"><span th:text="${c.getCategoriDescription()}" class="Button_Effect"></span></a></td>

                <th><span><a th:href="@{'/updateCategoriData/' + ${c.getListNumber()}}" class="Button_Effect">Change</a></span></th>
                <th><span><a th:href="@{'/deleteCategoriData/' + ${c.getListNumber()}}" class="Button_Effect_Delete">Remove</a></span></th>
            </tr>

        </div>

</table>

</body>

<footer>


    <div class="smoke_boxMiddle">
     <!--   <img class="" th:src="@{img/smoke.webp}" src="../static/img/smoke.webp" alt="Genie smoke!">
    <img th:src="@{img/smoke.webp}" src="../static/img/smoke-effect-png.webp" alt="Genie smoke!">  -->

        <img class="" th:src="@{img/smoke-effect-png.webp}" src="../static/img/smoke-effect-png.webp" alt="Genie smoke!">

    </div>


</footer>

</html>






