<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
	<title>Add a wish</title>
</head>
<body>

	<span th:replace="fragments/error"></span>

	<h1>Create a New Wish List:</h1>
	<br>
	<form th:action="@{/createWishList}" th:object="${wishList}" th:method="post">

		<label for="name-field">Wish List Name:</label>
		<input id="name-field" type="text" name="wishlistName" placeholder="Enter a name for a new Wishlist" required>

		<button type="submit" class="Button_Effect">Create List</button>

	</form>

	<br>
	<a th:href="@{/showWishListsPage}" href="showWishListsPage.html" class="Button_Effect">Back to Wish Lists
		Page</a>
	<br>

</body>
</html>