<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>WishLists</title>
</head>
    <body>
        <header>
            <div class="HeaderContainer">
        
                <div class="TopHeaderSplashIMG">

                    <div class="splashText" th:text="${wishList.getWishlistName()}"></div>
                </div>

                <br><br>

                <div class="wishListsButtons_Container">

                    <div class="wishListsButtons_ContainerStyle" style="width:100%">

                       <!-- <a th:href="@{/createWish?wishlist_id=${wishList.getWishListID()}}" class="Button_Effect_wish"><i class=" fa fa-plus icon"></i>Add a new Wish</a> -->

               <a th:href="@{/createWish?wishlist_id={id}(id=${wishList.getWishListID()})}" class="Button_Effect">Add Wish</a>


                        <a th:href="@{/wishlistSharingPage}" href="../contributer/wishListSharingPage.html.html"
                           class="Button_Effect">Share Your list<i class="fa fa-share-square-o icon"></i></a>

                        <a th:href="@{/showWishListsPage}" class="Button_Effect_wish"><i class=" fa fa-reply icon"></i>Back to your lists</a>
                    </div>

                </div>

            </div>
        </header>
        <br><br>
      <!--  <span th:replace="fragments/error"></span> -->
        <h1>&nbsp;&nbsp;<u>Your Wishes</u></h1>
        <table class="wishListsTable" style="width:100%">
           <!-- <thead>
                <tr>
                    <th>ID</th>
                    <th>Content</th>
                    <th>Options</th>
                </tr>
            </thead>  -->
            <div th:each="wish : ${wishes}">
                <tr>
                  <!--  <td>
                        <span th:text="${wish.getWishNumber()}"></span>
                    </td>  -->
                    <td>
                        <span class="wishDataStyle" th:text="${wish.getWishDescription()}"></span>
                    </td>
                    <td>
                        <a th:href="@{'/updateWishData/' + ${wish.getWishNumber()}}" class="Button_Effect">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{/deleteWishData/{wishNumber}/{wishListID}(wishNumber=${wish.getWishNumber()}, wishListID=${wishList.getWishListID()}) }" class="Button_Effect_Delete">Delete</a>
                    </td>
                    <td><div class="fillerSpaceWishes"></div></td>
                </tr>

                <tr style="height: 15px;">

                </tr>


            </div>
        </table>

    </body>
</html>