<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
	<title>Change a wish</title>
</head>

<body>

	<span th:replace="fragments/error"></span>

	<h1>Change a Categori</h1>

	<br>
	<a th:href="@{/showListPage}" href="showWishListsPage.html" class="Button_Effect">Back to categori list</a>
	<br> <br>

	<form th:action="@{/updateWishList}" th:object="${wishList}" th:method="patch">

		<input type="hidden" name="wishListID" th:value="${wishList.getWishListID()}">

		<label for="name-field">Wishlist name</label>
		<input id="name-field" name="wishlistName" type="text" placeholder="Enter name" th:value="${wishList.getWishlistName()}" required>

		<button type="submit" class="Button_Effect">Save</button>

	</form>

</body>

</html>