<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Update wishlist</title>
</head>


<body>

	<!-- <span th:replace="fragments/error"></span> -->
	<div class="boxPosition">

	<div class="updateWishlistBorder">

		<h1>&nbsp;&nbsp;&nbsp;&nbsp;<u>Update Wish-List</u></h1>

	<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<a th:href="@{/showWishListsPage}" href="showWishListsPage.html" class="Button_Effect"><i class="fa fa-reply icon"></i>Back to &nbsp;-&nbsp; Wish List page </a>
	<br> <br><br><br>


	<form th:action="@{/updateWishList/}" th:object="${wishList}" th:method="patch">

		<input type="hidden" name="wishListID" th:value="${wishList.getWishListID()}">

		<!-- <label for="name-field">Wishlist name</label> -->
		&nbsp;&nbsp;<input id="name-field" class="input-field" name="wishlistName" type="text" placeholder="Update name..." th:value="${wishList.getWishlistName()}" required>
		<br><br>
		&nbsp;&nbsp;&nbsp;&nbsp; <button type="submit" class="Button_Effect_save"><i class="fa fa-envelope-open icon"></i>&nbsp;-&nbsp;Save</button>



	</form>


</div>

	</div>

</body>

</html>